<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/account.css" />
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/libutils.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    
</head>
<body>
   
    <ul>
        <%for(var i = 0 ; i < list.length ; i++) {%>
        <li><%= list[i].bzTypeId%></li>
        <%}%>
    </ul>
    <img src='/img/001.jpeg' style='height:128px'/>
     
</body>
</html>