<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>izz2</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    
    
    <style type="text/css">
    .img-div{
        
    }
    
    .img-item{
        height:70px;
        width:70px;
    }
    
    .div-upload{
        border: 1px dotted #aaa;
    }
    
    
    </style>
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current">
              <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="/demos/card" data-transition='slide-out'>
                  <span class="icon icon-left"></span>
                </a>
                 <button class="button button-link button-nav pull-right open-panel" data-panel="#user_center">
                    <span class="icon icon-me"></span>
                </button>
                <h1 class="title">izz</h1>
              </header>
              <nav class="bar bar-tab">
                 <a class="tab-item external active" href="/sel/suite">
                  下一步
                 </a>
              </nav>
             
              <div class="content">
                <!-- 这里是页面内容区 -->
                  <div class="content-padded">
                    <div class="row">
                      <div class="col-25 img-div">
                        <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                        <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                       <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                        <img class="img-item div-upload" src="/img/ico/add.png"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-25 img-div">
                        <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                        <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                       <img class="img-item" src="#"/>
                      </div>
                      <div class="col-25 img-div">
                        <img class="img-item" src="#"/>
                      </div>
                    </div>
              </div>
               <div class="list-block">
                <ul>
                  <li>
                   <div class="item-content">
                    <div class="item-input">
                        <textarea placeholder="Please input the description you want."></textarea>
                    </div>
                   </div>
                   </li>
                 </ul>
                </div>  
               <div class="content-padded" style="margin-top:20px; ">
                    <div class="row">
                      <div class="col-100">
                         advs area
                      </div>
                    </div>
               </div>
        </div> 
   
    </div>
    <div class="panel panel-right panel-cover" id="user_center">
    </div>     

    
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/js/sui/config.js' charset='utf-8'></script>
        
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/js/sui/common.js' charset='utf-8'></script>
    <script>
    $(function () {
        $(document).on("pageInit", function(e, pageId, $page) {
            load_common_menu();
        });
        
        $.init();
    });
        
    </script>
  </body>
</html>